.image-and-text-block {
    display: grid;
    gap: 2rem;
}

.image-and-text-block img {
    object-fit: cover;
}

.image-and-text-image {
    overflow: hidden;
}


.image-and-text-block > * {
    align-self: center;
}

.image-and-text-block>.flow {
    order: 2;
}

.image-text-block-right {
    order: 1;
}

@media screen and (min-width: 48rem) {
    .image-and-text-block {
        grid-template-columns: 1fr 1fr;
    }
.image-and-text-block>.flow {
    order: 1;
}
    .image-text-block-right {
        order: 2;
    }
}